@font-face {
    font-family: 'clear_sansregular';
    src: url('../../fonts/clearsans-regular.eot');
    src: url('../../fonts/clearsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/clearsans-regular.woff') format('woff'),
         url('../../fonts/clearsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
