/**
 * Main less module
 *
 * @author Viacheslav Lotsmanov
 */

/* === VARIABLES === */

@import "variables";

/* === MIXINS === */

@import "mixins";
@import "icons";

/* === ELEMENTS === */

@import "headers";

/* === PAGES === */

@import "pages/main";

/* === RESET === */

@import "reset";

/* === FONTS === */

@import "fonts";

/* === STYLES === */

html, body {
    min-height: 100%;
    height: 100%;
}

:focus { outline: none; }

html {
    overflow-y: scroll;
    background: white;
    color: @contentColor;
    font: @contentFont;

    a { .simpleLink; }
}

html.ie8 { // IE8 {{{1
    // IE8 bugfixes
} // IE8 }}}1

// vim: set sw=4 ts=4 et foldmethod=marker ff=unix fenc=utf-8 :
