/**
 * Variables module
 *
 * @author Viacheslav Lotsmanov
 */

/* === PATHS === */

@tplPath: '../../';
@imgPrefix: '@{tplPath}images/';
@fontsPrefix: '@{tplPath}fonts/';

// for images and fonts
@revision: 1;

/* === SIZES === */

@minWidth: 600px;
@maxWidth: 800px;

/* === FONTS === */

@contentFont: 15px Liberation Sans, Helvetica, Arial, sans-serif;

@h1FontSize: 49px;
@h2FontSize: 24px;

/* === COLORS === */

@contentColor: #333;

@linkColor: @contentColor;
@linkColorUnderline: lighten(@linkColor, 50%);
@activeLinkColor: #007700;
@activeLinkColorUnderline: lighten(@activeLinkColor, 50%);

/* === TRANSITIONS === */

@animationSpeed: 0.2s;
@linkTransition: color @animationSpeed linear, border-bottom-color @animationSpeed linear;

// vim: set sw=4 ts=4 et foldmethod=marker ff=unix fenc=utf-8 :
